*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    /* border: 1px solid red; */
    height: 50px;
    width: 100%;
    background-color: #03A9F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
        position: sticky;
        top: 0;
}
nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
nav>ul>li{
    gap: 100px;
    margin-right: 29px;
    font-weight: 600;
    text-transform: capitalize;
    list-style: none;
    font-size: large;
    border-radius: 3px;
}
nav>article {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}

.hide:hover{
    background-color: rgb(193, 219, 241);
    color: black;
    cursor: pointer;
    transition: all 0.3s;
}


/* /Section 1 code */

section.container {
    /* border: 1px solid red; */
    height: auto;
    width: 100%;
    /* background-color: #fbdcb3; */
    display: flex;
    align-items: center;
    gap: 20px;
}
section > article {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    
}
.container >article >img {
    height: 100%;
    width: 100%;
}

article>h1 {
    margin-top: 30px;
    margin-left: 30px;
}
article>h3 {
    margin-left: 30px;
    margin-top: 5px;
}
article>p {
    margin-left: 30px;
    margin-top: 5px;
}
.btn_container {
    margin-left: 30px;
    display: flex;
    gap: 20px;
}
.btn_container>button {
    height: 30px;
    width: 120px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    border-style: none;
}
.btn_container>button:hover {
    background-color: #1e2323;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
hr{
    width: 140px;
    height:5px;
    background-color: black;
    margin-left: 30px;
}

/* Section-2 Code */
section.container_1 {
   
    height:40%;
    height: auto;
    width: 100%;
    display: flex;
    gap: 20px;
}
section.container_1 >article {
    height: auto;
    width: 100%;
    background-color: rgb(253, 219, 175);
    /* overflow: hidden;
    overflow: scroll; */


   
}

section.container_1 >.left, img {
    height: 100%;
    width: 100%;
}

section.container_1 >article >h1 {
    text-transform: capitalize;

}



section.container_1 >article >hr{
    width: 80px;
}
/* Container _card code */

section.container_card {
    height: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0px auto;
    justify-content: center;
    align-items: center;

}
article.card {
    border: 1px solid black;
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
   
}
div {
    display: grid;
    gap: 10px;
}
div >h1, p, button {
    margin-left: 15px;
}

div>button{
    height: 30px;
    width: 120px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    border-style: none;
}
div>button:hover{
    color:white;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s;
}

.card_image_1 {
    height: 250;
    width: 250px;
}
.card_image_2 {
    height: 250;
    width: 250px;
}
.card_image_3 {
    height: 250;
    width: 250px;
}
.card_image_4{
    height: 250;
    width: 250px;
}
.card_image_5 {
    height: 250;
    width: 250px;
}
.card_image_6 {
    height: 250;
    width: 250px;
}

/* Form Container code*/
section.form_container {
    /* border: 1px solid red; */
    height: auto;
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
section.form_container>article {
    /* border: 1px solid black; */
    height: 400px;
    width: 100%;
    align-items: center; 
    justify-content: center;
    display: flex;
}
table.form_border {
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 5px;
}
td{
    padding: 15px;
}
button.abc {
    margin-left: 75%;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    font-size: large;
    font-weight: 700;
}

button.abc:hover{
    background-color: #1e2323;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
input{
    font-size: 15px;
}

li.bar{
    display:none ;
}
@media(max-width:376px){
    li.bar{
        display: block;
        margin-right: 10px;
    }
    .hide{
        display: none;
    }
    nav {
        height: 40px;
    }
    .container{
        flex-direction: column;
    }
     
    .container_1{
        flex-direction: column;
    }
    .container_1>p{
        overflow: scroll;
    }
    section.container_1 >article{
        overflow-y: scroll;
       
    }
    section.container_1{
        gap: 5px;
    }
    section.container_card{
        display: grid;
        grid-template-columns: 1fr;
    }
    div>h1{
        margin-top: 20px;
    }
  
    section.form_container{
        flex-direction: column;
    }
}
